<h1>Would you like to work together?</h1>
<hr>
<h2>Phone</h2>
<p><%= number_to_phone "87774350725"%></p>
<h2>Email</h2>
<p><a href="mailto:temirkarabayev@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>

<div class="col-md-6">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2505.6597655013097!2d71.41903621575484!3d51.09628627956968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4245844cd077e53f%3A0xb79f0aeb9bb77df9!2z0L_RgNC-0YHQvy4g0KPQu9GLINCU0LDQu9CwLCDQndGD0YAt0KHRg9C70YLQsNC9IDAyMDAwMA!5e0!3m2!1sru!2skz!4v1561213718916!5m2!1sru!2skz" width="450" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
