<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>

<p><%= number_to_phone "87774350725"%></p>
<p><%= number_to_currency "100"%></p>
<p><%= number_to_percentage "87"%></p>
<p><%= number_with_delimiter "123456789"%></p>
